<div class="w-100 d-flex flex-column justify-content-center " style="margin-top:5%; height: 100%;">
    <div class="d-flex justify-content-center">
        <img src="/image/blogmenu/404.png" alt="404" class="img-fluid" style="width: 50%;">
    </div>
    <div class="d-flex justify-content-center">
        <a href="/">
            <button type="button" class="buttonformsabt" style="width: 200px;">بازگشت به صفحه اصلی</button>
        </a>
    </div>
</div>