<div class="w-100 d-flex flex-column justify-content-center " style="margin-top:5%; height: 100%;">
    <div class="d-flex justify-content-center">
        <img src="/image/blogmenu/error500.png" alt="404" class="img-fluid" style="width: 50%;">
    </div>
</div>