.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 2px;
    justify-content: center;
    margin-bottom: auto;
    margin-top: 0;
    opacity: 0;
    animation: intro-fade-container 2s ease-in-out 3s forwards;
    padding-bottom: 100px;
}

.flip-box {
    position: relative;
    top: 20%;
    width: 340px;
    min-height: 80px;
    perspective: 1000px;
}

.flip-inner {
    width: 100%;
    min-height: 80px;
    transition: transform 0.6s ease-in-out, max-height 0.6s ease-in-out;
    transform-style: preserve-3d;
    position: relative;
}

.flip-front,
.flip-back {
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.flip-front {
    background: darkblue;
    min-height: 30px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    font-weight: 500;
}

.flip-front div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-right: 10px;
}



.flip-front img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

.flip-front div img {
    width: 14px;
    height: auto !important;
}

.flip-front p {
    margin-right: 6px;
}

.flip-back {
    background: #333;
    transform: rotateY(180deg);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: right;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
    padding: 15px 15px 100px 15px !important;
    font-weight: bold;
}


.flip-back ul {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 0px 10px;
}

.flip-back li {
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

.next {
    width: 26px !important;
    margin-right: auto;
    margin-left: 0px;
    animation: shake 1s ease-in-out infinite;
}


@keyframes intro-fade-container {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        margin-left: 0px;
    }

    50% {
        margin-left: 15px;
    }

    100% {
        margin-left: 0px;
    }
}