.main-section {
    margin-top: 10%;
}

.section1 {
    width: 30%;
}

.menu-box {
    display: none !important;
}

.menu-box.active {
    display: flex !important;
}

.profile {
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    padding: 5%;
    width: 100%;
    text-align: right;
}

.profile span {
    font-size: 14px;
    font-weight: 300;
    color: #999999;
}

.profile-img {
    width: 25%;
}

.profile-img img {
    border-radius: 15px;
}

.menu-section {
    width: 100%;
    text-align: right;
    padding: 5%;
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    margin-top: 2%;
}

.menu-section li {
    width: 100%;
    text-align: right;
    margin-top: 5%;
}
.menu-section form{
    width: 100%;
}

.nav-menu a {
    color: #004181;
}

.nav-menu button {
    color: #004181;
    border: none;
    background-color: transparent;
    margin-left: auto;
}

.nav-menu a i {
    color: #003366;
    margin-left: 15px;
    padding-right: 10px;
    font-size: 20px;
}

.nav-menu button i {
    color: #003366;
    margin-left: 15px;
    padding-right: 10px;
    font-size: 20px;
}

.activate {
    background-color: #FF8B00;
    border-radius: 10px;
}

.activate a {
    color: white !important;
}

.section2 {
    margin-top: 0;
    margin-right: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    width: 70%;
}

.title-section {
    text-align: right;
    padding-bottom: 3%;
    border-bottom: 1px solid #eeeeee;
}

.icon-section {
    margin-top: 5%;
    padding-bottom: 2%;
    border-bottom: #eeeeee solid 1px;
}

.icon-section h6 {
    color: #004181;
}

.icon-section span {
    color: #FF8B00;
    font-size: 14px;
    font-weight: 300;
}

.edit-profile-img {
    width: 50%;
}

.edit-profile-img img {
    border-radius: 15px;
}

.form-user {
    width: 50%;
    padding: 2%;
    text-align: right;
    height: 100%;
}

.form-user span {
    font-size: 14px;
    font-weight: 300;
}

.form-user input {
    height: 12%;
    padding: 2%;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: right;
}

.form-user input::placeholder {
    text-align: right;
    font-size: 12px;
    font-weight: 300;
}

.form-user input:focus-visible {
    outline: none;
}

.form-user input[type=file] {
    border: 1px solid #ccc;
    cursor: pointer;
}

.form-user input[type=file]::file-selector-button {
    background-color: transparent;
    color: #000;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    margin-right: 20px;
    transition: .5s;
}

.form-user input[type=file]::file-selector-button:hover {
    background-color: #eee;
    border: 0px;
    border-right: 1px solid #e5e5e5;
}

.title-tickets {
    background-color: #FF8B00;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: white;
    border-radius: 5px;
    padding: 10px 0px;
}

.clint-chat {
    background-color: #004181;
    text-align: right;
    color: white;
    padding: 2%;
    border-radius: 15px;
    margin-left: auto;
}

.admin-chat {
    background-color: #FF8B00;
    text-align: right;
    color: white;
    padding: 2%;
    border-radius: 15px;
    margin-right: auto;
}

.send-form input {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    color: #FF8B00;
}

.send-form input:focus-visible,
.send-form input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.send-form textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #003366;
    text-align: right;
    padding: 2%;
    border: none;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.send-form textarea:focus-visible {
    outline: none;
}

.send-box {
    background-color: white;
    border-radius: 10px;
    border: #003366 1px solid;
    padding: 1%;
}

.send-box input {
    background-color: transparent;
    border: none;
    padding: 1%;
    width: 100%;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    color: #FF8B00;
}

.send-box input::placeholder {
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}

.send-box input:focus-visible {
    outline: none;
}

.send-box button {
    color: #004181;
    font-size: 18px;
}
.send-box button:hover {
    color: #FF8B00;
    font-size: 18px;
}
@media (max-width:768px) {
    .main-section {
        display: flex;
        flex-direction: column !important;
        width: 100%;
    }

    .icon-section a {
        flex-direction: column-reverse !important;
    }

    .section1 {
        width: 100%;
    }

    .section2 {
        width: 100%;
    }

    .form-section {
        flex-direction: column !important;
    }

    .edit-profile-img,
    .form-user {
        width: 100%;
    }

}