

<section class="main flex-column">
    <div class="profile flex-column" style="background-color: white; width: 90%; border-radius: 8px; margin-top: 0px;">
        <div class="profile-name">
            <img class="profile-img" src="./images/ali.jpg" alt="profile-image">
            <h2>علی خوش طینت</h2>
            <h3>09372290421</h3>
        </div>
        <img class="wave" src="./images/wave.svg" alt="">
        <a class="pro-btn" href="/mytickets"><img src="./images/ticket.svg" alt="">تیکت پشتیبانی</a>
        <a class="pro-btn" href="#"><img src="./images/profile.svg" alt="">جزییات پروفایل</a>
        <a class="pro-btn" href="#"><img src="./images/setting.svg" alt="">تنظیمات پروفایل</a>
        <a class="pro-btn" href="/auth/logout" style="color: red !important;"><img src="./images/exit.svg" alt="">خروج</a>
    </div>
</section>