<link rel="stylesheet" href="/css/profile.css">

<div class="container main-section main">
    <div class="d-flex flex-column section2 p-3">
        <div class="w-100 title-section d-flex  justify-content-end align-items-center">
            <span>ارسال تیکت جدید</span>
            
        </div>
        <div class="d-flex flex-column m-auto fadeing w-100 justify-content-between align-items-center">
            <form action="/mytickets-send" method="post" class="w-75 mt-3 send-form" novalidate>
                <div class="form-group">
                    <input name="title" class="form-control" placeholder="موضوع تیکت را بنویسید">
                </div>
                <div class="form-group">
                    <textarea name="text" id="" cols="30" rows="10" placeholder="متن تیکت"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn buttonformsabt w-25" style="margin-top: 0px;">ارسال</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/toggleMenu.js"></script>