<link rel="stylesheet" href="/css/new-style.css">



<div class="container main-section d-flex flex-row-reverse main">

    <div class="section1"> 
        <a href="/profile/edit-profile/<%- users.id %>"><img src="/images/setting2.svg" alt="setting"></a>
        <h1 style="font-size: 26px;">تیکت های من</h1>
        <a href="/auth/logout"><img src="/images/in.svg" alt="Loguot"></a>
    </div>

    <div class="d-flex flex-column section2 p-3">

        <a href="/mytickets-send" class="profile-btn">
            <span>ثبت تیکت جدید</span>
            <img src="/images/plus.svg" alt="">
        </a>

        <% if(tickets.length> 0){ %>
            <div class="tabel-container">
                <p class=" title-tickets">
                    برای مشاهده تیکت روی "موضوع تیکت" کلیک کنید
                </p>
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>وضعیت تیکت</th>
                            <th>موضوع تیکت</th>
                            <th>شماره تیکت</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% tickets.forEach(ticket=> { %>
                            <% if(ticket.title !=='Client' ){ %>
                                <tr>
                                    <% if(ticket.check){ %>
                                        <td class="text-success">
                                            تیکت باز است
                                        </td>
                                        <% }else{ %>
                                            <td class="text-danger">
                                                تیکت بسته شد
                                            </td>
                                            <% } %>

                                                <td>
                                                    <a href="/mytickets-view/<%- ticket.id %>"><%-ticket.title %></a>
                                                </td>
                                                <td><%- ticket.code %></td>
                                </tr>
                                <% } %>
                                    <% }) %>
                    </tbody>
                </table>
            </div>
            <% }else{ %>
                <div class="img-empty">
                    <p>درحال حاضر تیکتی ارسال نکرده اید</p>
                    <img class="img-fluid" src="/images/emptyobj.webp " alt="">
                </div>
                <% } %>
    </div>
</div>

<script src="/js/toggleMenu.js"></script>