<link rel="stylesheet" href="/admin/css/content.css">


<div class="content-main">
    <div class="m-2 p-1 pb-0 d-flex justify-content-around card-box">
        <a href="#" class=" cards1 text-white">
            <div class="p-2 pb-5">
                <header>سفارشات</header>
                <div class="pt-2 title">تعداد سفارشات : <span>25 عدد</span></div>
                <div class="title">مجموع فاکتورها : <span>2.375.200 تومان</span></div>
            </div>
        </a>
        <a href="#" class=" cards2 text-white">
            <div class="p-2 pb-5">
                <header>محصولات</header>
                <div class="pt-2 title">تعداد محصولات : <span>0</span></div>
                <div class="title">محصولات موجود : <span>1.200 عدد</span></div>
            </div>
        </a>
        <a href="#" class=" cards3 text-white">
            <div class="p-2 pb-5">
                <header>نوشته ها</header>
                <div class="pt-2 title">تعداد نوشته ها : <span>0</span></div>
                <div class="title">مجموع بازدیدها : <span>3.200 نفر</span></div>
            </div>
        </a>
        <a href="#" class=" cards4 text-white">
            <div class="p-2 pb-5">
                <header>نظرات</header>
                <div class="pt-2 title">تعداد نظرات : <span>0</span></div>
                <div class="pt-2 title">تعداد نظرات تایید نشده : <span> عدد</span></div>
            </div>
        </a>
    </div>
    <div class="d-lg-flex d-md-flex content-box table-responsive">
        <div class=" m-4  p-3 main-content w-50 my-tabel">
            <div class="content-header ">
                <h6>آخرین سفارشات</h6>
                <p>در اینجا می توانید آخرین سفارشات خود را مشاهده کنید.</p>
            </div>
            <table class="custom-table container">
                <thead>
                    <tr>
                        <th>نام سفارش دهنده</th>
                        <th>تاریخ</th>
                        <th>وضعیت</th>
                        <th>مجموع فاکتور</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#">علی خوش طینت</a></td>
                        <td>هفته پیش</td>
                        <td class="text-info">درحال انجام</td>
                        <td>2.150.000 تومان</td>
                    </tr>
                    <tr>
                        <td><a href="#">علی شاهین صفت</a></td>
                        <td>10روز پیش</td>
                        <td class="text-success">پرداخت شد</td>
                        <td>1.150.000 تومان</td>
                    </tr>
                    <tr>
                        <td><a href="#">رضا خوش طینت</a></td>
                        <td>10روز پیش</td>
                        <td class="text-danger">لغو شد</td>
                        <td>1.150.000 تومان</td>
                    </tr>
                    <tr>
                        <td><a href="#">وحید خوش طینت</a></td>
                        <td>10روز پیش</td>
                        <td class="text-success">پرداخت شد</td>
                        <td>1.150.000 تومان</td>
                        <td>
                    </tr>
                    <tr>
                        <td><a href="#">مجید خوش طینت</a></td>
                        <td>10روز پیش</td>
                        <td class="text-info">درحال انجام</td>
                        <td>1.150.000 تومان</td>
                    </tr>
                    <tr>
                        <td><a href="#">اکرم خوش طینت</a></td>
                        <td>10روز پیش</td>
                        <td class="text-danger">لغو شد</td>
                        <td>11.230.000 تومان</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" m-4  p-3 main-content table-responsive w-50 my-tabel">
            <div class="content-header">
                <h6>آخرین سفارشات</h6>
                <p>در اینجا می توانید آخرین سفارشات خود را مشاهده کنید.</p>
            </div>
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>