<link rel="stylesheet" href="/css/cources.css">
<link rel="stylesheet" href="/css/test.css">

<section class="main flex-column">

    <div class="flex-column test-container">
        <div class="flex-column test-header">
            <div>
                <h1>آزمون حسابداری مقدماتی</h1>
            </div>
            <div class="q-count">
                <img src="./images/folder.svg" alt="">
                سوال 1 از 8
            </div>
        </div>
        <form class="test-form">
            <h6>کدام یک در حسابداری صحیح است؟</h6>
            <div>
                  <input type="radio" id="j1" name="fav_language" value="j1">
                  <label for="j1">جواب 1</label><br>
                  <input type="radio" id="j2" name="fav_language" value="j2">
                  <label for="j2">جواب 2</label><br>
                  <input type="radio" id="j3" name="fav_language" value="j3">
                  <label for="j3">جواب 3</label><br>
                  <input type="radio" id="j4" name="fav_language" value="j4">
                  <label for="j4">جواب 4</label>
            </div>

            <div class="flex-row text-btn">
                <button><img src="./images/flesh-right.svg" alt="">سوال قبل</button>
                <button>سوال بعد<img src="./images/flesh.svg" alt=""></button>
            </div>
        </form>
    </div>
    <!-- Footer Start -->
    <footer>
        <img class="ft-container" src="./images/Group-11302.png" alt="">
        <a href="#">
            <img class="home-btn" src="./images/home.svg" alt="">
        </a>
        <div class="more-btn flex-row">
            <div class="flex-row">
                <a href="#">
                    <img class="menu-btn" src="./images/web-icon.svg" alt="">
                    وب سایت
                </a>
                <a href="#">
                    <img class="menu-btn" src="./images/user-icon.svg" alt="">
                    پروفایل
                </a>
            </div>
            <div class="flex-row">
                <a href="#">
                    <img class="menu-btn" src="./images/account.svg" alt="">
                    وضعیت اشتراک
                </a>
                <a href="#" id="back">
                    <img class="menu-btn" src="./images/back-icon.svg" alt="">
                    بازگشت
                </a>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</section>

<script src="/js/flip-box.js"></script>