<body>
    <section class="main flex-column">
        <div class="header flex-column">
            <h1 class="intro-fade">FINOTAX.co</h1>
            <p class="matn">خدمات حسابداری ، مالی و مالیاتی</p>
        </div>
        <div id="main-container" class="btn-container" >
            <div class="main-btn flex-row">
                <a href="/learning" class="flex-column"><img src="./images/amozesh.png" alt=""><span>دوره های آموزشی</span>
                </a>
                <a href="#" class="flex-column"><img src="./images/khadamat.png" alt=""><span>خدمات فینوتکس</span></a>
            </div>
        </div>


    </section>


</body>