<link rel="stylesheet" href="/css/keywords.css">

<section class="main-keywords">
    
    <div class="keywords-container">
        <img src="/images/keywords.webp" alt="">
        <table class="keywords-table">
            <thead>
                <tr>
                    <th>عنوان کلمه</th>
                    <th></th>
                    <th>معنای کلمه</th>
                </tr>
            </thead>
            <% keywords.forEach(keyword=>{ %>
                <tbody>
                    <tr>
                        <td>
                            <%= keyword.name %>
                        </td>
                        <td>:</td>
                        <td><%- keyword.meaning %></td>
                    </tr>
                </tbody>
                <% }) %>
        </table>
    </div>
</section>