<body>
    <section class="main flex-column">
        <div class="header flex-column">
            <h1 class="intro-fade">Education</h1>
            <p class="matn">آموزش حسابداری ، مالی و مالیاتی</p>
        </div>
        <div id="main-container" class="btn-container">
            <div class="main-btn flex-row">
                <a id="acc" href="#" class="flex-column "><img src="./images/accounting_4142644.png" alt=""><span>آموزش
                        حسابداری</span>
                </a>
                <a id="finance" href="#" class="flex-column "><img src="./images/report_15368229.png" alt=""><span>آموزش
                        مالی</span></a>
                <a id="tax" href="#" class="flex-column "><img src="./images/tax_12139873.png" alt=""><span>آموزش
                        مالیات</span></a>
                <a href="/learn/keywords" class="flex-column"><img src="./images/dictionary_7407909.png" alt=""><span>واژگان
                        تخصصی</span>
                </a>
            </div>
        </div>


    </section>


</body>