<link rel="stylesheet" href="/css/cources.css">

<section class="main flex-column">
    <div class="header flex-column">
        <h1 class="intro-fade">ACCOUNTING</h1>
        <p class="matn">مقدمه ای برحسابداری </p>
    </div>

    <div class="container">
        <% modules.forEach(module=>{ %>
            <a href="/modules/<%- module.slug %>" class="flip-box">
                <div class="flip-inner">
                    <div class="flip-front">
                       <div>
                        <img src="./images/check_5610944.png" alt="">
                        <p>
                            <%= module.title %>
                        </p>
                       </div>
                    </div>
                </div>
            </a>
            <% }) %>

    </div>
</section>

<!-- <script src="/js/flip-box.js"></script> -->