<link rel="stylesheet" href="/css/cources.css">


<style>
    iframe{
        width: 100%;
        height: 100vh;
    }
</style>
<section class="main flex-column">
   
<iframe src="https://finotax.co/%d8%ae%d8%af%d9%85%d8%a7%d8%aa-%d9%85%d8%a7%d9%84%db%8c%d8%a7%d8%aa%db%8c/" frameborder="0"></iframe>
    

</section>