<link rel="stylesheet" href="/admin/css/add-product.css">
<link rel="stylesheet" href="/admin/css/component-chosen.min.css">

<div class="content-main">

    <div class=" m-4  p-2 main-content">

        <h2>ایجاد اشتراک جدید</h2>
        <form action="/admin/subscription/create" method="POST">
            <label for="name">نام اشتراک:</label>
            <input type="text" id="name" name="name" required>
    
            <label for="duration">مدت‌زمان (ماه):</label>
            <input type="number" id="duration" name="duration" required>
    
            <label for="price">قیمت (تومان):</label>
            <input type="number" id="price" name="price" required>
    
            <button type="submit">ایجاد اشتراک</button>
        </form>

    </div>
</div>


