<link rel="stylesheet" href="/admin/css/add-product.css">
<link rel="stylesheet" href="/admin/css/component-chosen.min.css">

<div class="content-main">

    <div class=" m-4  p-2 main-content">

        <div class="d-flex justify-content-center p-2 title">ویرایش اشتراک </div>
        <form class="container" action="/admin/subscription/edit/<%- subscriptions._id %>" method="POST">
            <label class="d-block" for="name">نام اشتراک:</label>
            <input class="inputs w-75" type="text" id="name" name="name" value="<%- subscriptions.name %>" required>
    
            <label class="d-block" for="duration">مدت‌زمان (ماه):</label>
            <input class="inputs w-75" type="number" id="duration" name="duration" value="<%- subscriptions.duration %>" required>
    
            <label class="d-block" for="price">قیمت (تومان):</label>
            <input class="inputs w-75" type="number" id="price" name="price" value="<%- subscriptions.price %>"  required>
    
            <button class="btn submit-btn" type="submit">ویرایش اشتراک</button>
        </form>

    </div>
</div>


